@use "sass:map";

/* 1. import variables */
@import './variables/colors';
/* 2. import global styles */
@import './global/link';
@import './global/actionable';
@import './global/main-actionable';
@import './global/layout';
@import './global/modal-layout';
@import './global/user-bubble';
@import './global/input';
/* 3. import components */
@import './components/navbar';
/* 4. import pages */
@import './pages/home';
@import './pages/profile';
@import './pages/write-blog';
@import './pages/view-blog';
/* 5. import utility */
@import './utility/font';
@import './utility/margin-padding';

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

ul {
  list-style: none;
}

button {
  border: none;
  background-color: transparent;
  padding: 0;
  text-align: inherit;
  font-size: inherit;
  font-family: inherit;
}

textarea {
  resize: none;
  font-family: Arial;
  font-size: inherit;
  text-align: inherit;
}
