.view-blog-header {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
  margin-top: 3rem;
}

.view-blog-author {
  font-size: 1rem;
  font-weight: 600;
  color: map.get($athens-gray, "950");
  margin-bottom: 0.2rem;
}

.view-blog-date {
  font-size: 0.875rem;
  color: map.get($athens-gray, "700");
}

.view-blog-title {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2;
  font-family: 'DM Serif Display', serif;
}

.view-blog-brief-description {
  font-size: 1.2rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  color: map.get($athens-gray, "800");
  font-family: 'DM Serif Display', serif;
  border-left: 3px solid map.get($athens-gray, "950");
  padding-left: 1rem;
}

.view-blog-content {
  border: none;
  outline: none;
  font-size: 1.2rem;
  padding-block: 1rem;
  width: 100%;
  min-height: 500px;
  height: auto;
  color: map.get($athens-gray, "950");
  border-left: 1px solid white;
  line-height: 1.5;
}

.view-blog-tags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.view-blog-tags span {
  font-size: 0.875rem;
  font-weight: 600;

  padding-block: 0.5rem;
  padding-inline: 1rem;

  border-radius: 1.5rem;
  border: 1px solid map.get($athens-gray, "950");
  background-color: map.get($athens-gray, "950");
  color: white;
}
