.main-actionable {
  border: 1px solid map.get($athens-gray, "100");
}

.main-actionable--flat {
  color: white;
  background-color: map.get($athens-gray, "950");

  &:disabled {
    background-color: map.get($athens-gray, "100");
    color: map.get($athens-gray, "500");
    cursor: not-allowed;
  }
}

.main-actionable--outline {
  background-color: white;
  color: map.get($athens-gray, "950");
  border: 1px solid map.get($athens-gray, "950");

  &:disabled {
    color: map.get($athens-gray, "300");
    border: 1px solid map.get($athens-gray, "300");
    cursor: not-allowed;
  }
}
